absl-py
adlfs
aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
annotated-types
antlr4-python3-runtime
astunparse
async-timeout
attrs
azure-core
azure-datalake-store
azure-identity
azure-storage-blob
backports.tarfile
bitsandbytes
botocore
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
contourpy
croniter
cryptography
cycler
dataclasses-json
decorator
diskcache
dm-tree
docker
docker-pycreds
docstring_parser
filelock
flyteidl

fonttools
frozenlist
fsspec
gast
gcsfs
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
hydra-core
idna
importlib_metadata
importlib_resources
isodate
jaraco.classes
jaraco.context
jaraco.functools
jeepney
Jinja2
jmespath
joblib
jsonargparse
jsonlines
jsonpickle
keyring
kiwisolver
lightning
lightning-utilities
Markdown
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
marshmallow-jsonschema
mashumaro
matplotlib
mdurl
more-itertools
mpmath
msal
msal-extensions
multidict
mypy-extensions
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-dali-cuda120
nvidia-nccl-cu12
nvidia-nvimgcodec-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
omegaconf
packaging
pandas
pillow
piq
platformdirs
portalocker
propcache
proto-plus
protobuf
protoc-gen-openapiv2
psutil
pyasn1
pyasn1_modules
pycocotools
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pyparsing
python-dateutil
python-json-logger
pytimeparse
pytorch-lightning
pytorchcv
pytz
PyYAML
requests
requests-oauthlib
rich
rich-click
rsa
s3fs
seaborn
SecretStorage
sentry-sdk
setproctitle
setuptools
six
smmap
statsd
sympy
tensorboard
tensorboard-data-server
tensorboardX
torch
torch-tb-profiler
torchmetrics
torchvision
tqdm
triton
typeshed_client
typing-inspect
typing_extensions
tzdata
urllib3
wandb
Werkzeug
wheel
wrapt
yarl
zipp
